/* 
	Pallet 
DarkBlue: #00254f
GrayBlue: #49586a
DarkGray: #737477
LightGray: #a7a9ac
PastelBlue: #4c6073
*/

/*--Globals--*/

html{
	color: #e8eef1;
	font-family: NeueHaasUnicaW1G, sans-serif;
	font-size: 16px;
	
	position: relative;
	
	min-height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

span{
	color: #e8eef1;
}

a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

/* Background */

.background{
	position: absolute; 
	overflow: visible;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.background-image{
	position: sticky;
	top: 0px; 
	left: 0px;
	width: 100%;
	z-index: -2;
}

.background-vignette{
	position: absolute; 
	top: 0px;
	left: 0px;
	width: 100%; 
	height: 100%; 
	z-index: -1; 
	background-color: rgba(0,0,0,0.4); 
}

/*--Header--*/

.header{
	position: relative;
	top: 0;

	max-height: 2rem;
	/*width: 95%;*/
	padding: 2rem;

	display: grid;
	grid-template-columns: auto auto;
}

.header-options{
	float: left;
	margin-left: 2rem;
	display: grid;
	width: 33.875rem;
	grid-template-columns: auto auto auto auto;
}

.header-container-button{
	margin: auto;
}

.header-container-logo{
	margin: auto;
	float: right;
}

.svg{
	width: 1.3rem; 
	height: 1.3rem; 
	padding-right: 0.6rem; 
	float: left;
}

.search{
	background: #e8eef1; 
	color: rgb(128, 128, 128);

	outline: none;

	border: 10px;
	border-radius: 2px; 
	box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.5);
}

/*--Content--*/

.content-incasing{
	width: 100%; 
	min-height: 40rem;
}

.content{
	width: 95%;
	margin: auto; 
	box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.5);
	border-radius: 10px;
}

.content-header{
	height: 3rem;
	max-height: 3rem;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.226); 
	border-radius: 10px 10px 0px 0px; 
	display: grid; 
	grid-template-columns: 14.9% 13.55% 19.6% 19.7% 15.4% 16.8%;
}

.content-header-item{
	border-style: solid; 
	border-color: rgba(255, 255, 255, 0.226);  
	border-width: 1px;
	
	padding-top: 0.7rem;
	text-align: center;
}
	.content-header-item:first-child{
		border-radius: 10px 0px 0px 0px;
	}

	.content-header-item:last-child{
		border-radius: 0px 10px 0px 0px;
	}

.content-hero{
	/*min-height: 36rem; */
	border-radius: 0px 0px 10px 10px;
	background-color: rgba(255, 255, 255, 0.096);
}

.content-hero-flight{
	width: 100%;
	height: 3rem;
	background-color: rgba(255, 255, 255, 0.295);
	border-radius: 0px 0px 10px 10px;
	display: grid; 
	grid-template-columns: 14.9% 13.55% 19.6% 19.7% 15.4% 16.8%;
}

.conteont-hero-flight-item{
	padding-top: 0.7rem;
	text-align: center;
	border-style: solid; 
	border-color: rgba(255, 255, 255, 0.226);  
	border-width: 1px;
}

	.conteont-hero-flight-item:last-child{
		border-radius: 0px 0px 10px 00px;
	}

	.conteont-hero-flight-item:nth-last-child(6){
		border-radius: 0px 0px 0px 10px;
	}


/*.content-footer{
	min-height: 2rem; 
	background-color: rgba(255, 255, 255, 0.096); 
	border-radius: 0px 0px 10px 10px;
}*/

/*--Footer--*/

.footer{
	display: grid;
	padding: 2rem;
}

/*--Play-Area--*/

@media(max-width:750px){
	.header{
		/*background-color: #00254f;
		box-shadow: 0px 1px 2px 0px #00254f;*/
		max-height: none;
		padding-top: 0px;
		grid-template-columns: none;
	}
	.header-options{
		float:none;
		width: unset;
		margin: auto;
		grid-template-columns: auto;
	}
	.header-container-button{
		margin-top: 1rem;
	}
	#logo{
		display: none;
	}
}