@{
    ViewData["Title"] = "Flights";
}



<div class="content">
    <div class="content-header">
        <div class="content-header-item">
            From
        </div>
        <div class="content-header-item">
            To
        </div>
        <div class="content-header-item">
            Take off Time
        </div>
        <div class="content-header-item">
            Landing Time
        </div>
        <div class="content-header-item">
            Seats
        </div>
        <div class="content-header-item">
            Reserve
        </div>
    </div>

    <div class="content-hero">
        @for (int i = 0; i < 20; i++)
        {
            <div class="content-hero-flight">
                <div class="conteont-hero-flight-item">

                </div>
                <div class="conteont-hero-flight-item">

                </div>
                <div class="conteont-hero-flight-item">

                </div>
                <div class="conteont-hero-flight-item">

                </div>
                <div class="conteont-hero-flight-item">

                </div>
                <div class="conteont-hero-flight-item">

                </div>
            </div>
        }
        </div>
</div>
